*.aux
*.log
*.cb
*.cb2
*.out
*.toc
*.swp
*.lot
*.lof
*.bbl
*.bbl-eng
*.blg
*.txt
*latexmk
bibliografia
gis-pfc.pdf
gis-pfc.fdb_latexmk
application
pictures/*.skp
pictures/*.svg
pictures/*old*
pictures/*.pdf
pictures/*.jpg
!pictures/gis-pfc-ch2-05.jpg
!pictures/gis-pfc-ch2-06.pdf
!pictures/gis-pfc-ch2-06.svg
!pictures/gis-pfc-ch5-06.pdf
!pictures/gis-pfc-ch5-06.svg
!pictures/gis-pfc-ch5-06.jpg
!pictures/gis-pfc-appa-1.jpg
pictures/application/
pictures/references/
pictures/work/
references/
