*.aux
*.bbl
*.bbl-eng
*.blg
*.cb
*.cb2
*.d
*.lof
*.log
*.lot
*.out
*.swp
*.toc
*.txt
*.url
*latexmk
~*
bibliografia
*.pdf
!acta.pdf
!logo.pdf
pictures/*.mps
pictures/*.mpx
pictures/mpxerr.tex
pictures/measures/raw_data/
pictures/measures/metapost/
pictures/measures/portable/
pictures/measures/specter/
pictures/measures/*.tex
